.write{
    padding: 50px;
    margin-left: 50px;
}
.write-img{
    width: 70vw;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}
.write-form-group{
    display: flex;  
    width: 100%;

}
.write-form{
    position: relative;
}
.write-text{
    margin-left: 10px;
    border-style: none;
    width: 70vw;
    font-size: 20px;
}
.write-text:focus{
    outline: none;
}
.write-icon{
    margin-right: 20px;
    font-size: 35px;
    cursor: pointer;
}
.write-text-input{
    margin-left: 10px;
    border-style: none;
    width: 70vw;
    font-size: 20px;
}
.write-text-input:focus{
    outline: none;

}
.write-story{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70vw;
    height: 100vh;
    border-style: none;
    font-size: 20px;
    border-radius: 10px;
}
.write-story:focus{
    outline: none;

}
.write-btn{
    position: absolute;
    right: 100px;
    top:20px;
    background-color: teal;
    color: white;
    border-style: none;
    width: 70px;
    height: 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
}